<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseURL</key>
	<string>https://bublgjeiyytadlxtafpr.supabase.co</string>
	<key>SupabaseKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1YmxnamVpeXl0YWRseHRhZnByIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUwNDY1NTEsImV4cCI6MjA4MDYyMjU1MX0.pkfcrajPHUOATAfU-q8J6BynScRguBX-DYSsRykK2VY</string>
</dict>
</plist>
